__pycache__/
manual_walkabout_energymaster/__pycache__/
manual_walkabout_musicblox/__pycache__/
manual_walkabout_musicblox/hooks/__pycache__/
manual_walkabout_energymaster/hooks/__pycache__/
/.vs/walkabout-mini-golf-ap-manual/FileContentIndex
/.vs/walkabout-mini-golf-ap-manual/config
/.vs/walkabout-mini-golf-ap-manual/v17/.wsuo
/.vs/walkabout-mini-golf-ap-manual/v17/DocumentLayout.backup.json
/.vs/walkabout-mini-golf-ap-manual/v17/DocumentLayout.json
/.vs
manual_walkabout_musicblox.apworld
manual_walkabout_musicblox.zip
wmg_fair.zip